body,
html {
    width: 100%;
    height: 100%;

}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;

}


/* ======================== HOME ======================== */
.topnav {
    font-size: 14px; 
}
.lead {
    font-size: 18px;
    font-weight: 400;
}
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/bgn.jpg) no-repeat center center;
    background-size: cover;
}
.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/* ======================== END / HOME ======================== */


/* ======================== INSTALACION ======================== */
/* ======================== END / INSTALACION ======================== */


/* ======================== CODIGOS ======================== */
hr
	{
	width:70%;
	}
/* ======================== END / CODIGOS ======================== */


/* ======================== HERRAMIENTAS ======================== */
#img-herramientas {
	width:75px;
	height:75px
}

#subtitulo{
   text-align: center;
}

/* ======================== END / HERRAMIENTAS ======================== */


/* ======================== DOC ======================== */
/* ======================== END / DOC ======================== */


/* ======================== PARTICIPANTES ======================== */
/* ======================== END / PARTICIPANTES ======================== */


/* ======================== CONTACTO ======================== */
/* ======================== END / CONTACTO ======================== */


/* ======================== FOOTER ======================== */
/* ======================== END / FOOTER ======================== */