/* ======================== END / HOME ======================== */


/* ======================== INSTALACION ======================== */
/* ======================== END / INSTALACION ======================== */


/* ======================== CODIGOS ======================== */
/* ======================== END / CODIGOS ======================== */


/* ======================== HERRAMIENTAS ======================== */
/* ======================== END / HERRAMIENTAS ======================== */


/* ======================== DOC ======================== */
/* ======================== END / DOC ======================== */


/* ======================== PARTICIPANTES ======================== */
/* ======================== END / PARTICIPANTES ======================== */


/* ======================== CONTACTO ======================== */
/* ======================== END / CONTACTO ======================== */


/* ======================== FOOTER ======================== */
	footer{
		background-color: black;
		color: white;
	}
	#imagenesFooter{
		margin-top: 10%;
		margin-left:10%;
	}
	ul li {
		list-style-type:none;
	}

/* ======================== END / FOOTER ======================== */